<style>
    body {
        color: rgb(51, 33, 33);
        background: rgb(240, 240, 240);
    }

    input[type="checkbox"] {
        vertical-align: middle;
    }

    .content {
        font-family: "Courier New", monospace;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .hexRow {
        display: flex;
        width: 100%;
    }

    /*.hexColumnAddr {}*/

    .hexColumns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /*justify-content: space-evenly;*/
        /*width: 500px;*/
    }


    .asciiColumns {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        /*justify-content: space-evenly;*/
        /*width: 300px;*/
        border-left: 1px solid #ccc;
        padding-left: 5px;
        margin-left: 5px;
    }

    .hexColumns .hexByte,
    .hexColumns .fillByte {
        padding: 0 2px;
    }

    .asciiColumns .asciiByte {
        padding: 0 1px;
    }

    .addrColumn {
        border-right: 1px solid #ccc;
        padding-right: 5px;
        margin-right: 5px;
    }

    .section {
        background: #8fbfe9;
    }

    .section.confirmed {
        background: #3cff00;
    }

    .hexColumns .hover {
        background: #ddd;
    }

    .asciiColumns .hover {
        background: #ddd;
    }

    .hoverSection {
        background: #4b6cf0 !important;
        color: rgb(14, 13, 13);
    }

    .hoverSection.confirmed {
        background: #00ffaa !important;
        color: #fff;
    }

    .checksum {
        background: #2df505;
        font-weight: bold;
    }

    .checksum.confirmed {
        color: #ff0000;
        font-weight: bold;
    }
{{.styles}}
</style>