<html>

<head>
    <title>CIM Dump Editor</title>
</head>

<body>

    <h1>CIM Dump Editor</h1>


    <form action="/" method="post" enctype="multipart/form-data">
        Select CIM DUMP to upload and edit:
        <input type="file" name="file" id="file"><br>
        <input type="submit" value="Upload dump" name="submit">
    </form>

</body>

</html>