<!DOCTYPE html>
<html lang="en">

<head>
    <title>CIM Dump Editor</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "style.tmpl" .}}
</head>

<body>
    <div class="container content">
        <div class="row">
            <div class="col">
                <br>
                <h2>CIM Dump Editor <a href=""><button>Back</button></a></h2>
                <h6><b>Filename:</b> {{.filename}}&nbsp;</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>MD5:</b> {{.fw.MD5}} <b>CRC32:</b> {{.fw.CRC32}}
            </div>
        </div>
        <hr>
        <form action="" id="options">
            <div class="row">


                <div class="col">

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="vin">Vin:</label>
                                <input autocomplete="off" class="form-control field byte-28" data-i="28" type="text"
                                    maxlength="17" size="17" id="vin" name="vin" value="{{.fw.Vin.Data}}">&nbsp;<b>Model
                                    Year:</b>
                                {{.fw.ModelYear}}
                                <label for="pin">Pin:</label>
                                <input class="form-control field byte-175" data-i="175" type="text" maxlength="8"
                                    size="8" id="pin" name="pin" value="{{printHex .fw.Pin.Data1}}">
                                <label for="sas">Steering Angle Sensor:</label>
                                <input class="form-check-input field byte-4" data-i="4" type="checkbox" id="sas"
                                    name="sas" {{boolChecked .fw.SasOpt}}><br>
                                <label for="keycount">Programmed keys:</label>
                                <input class="form-control field byte-279" data-i="279" min="0" max="5" id="keycount"
                                    name="keycount" type="number" value="{{.fw.Keys.Count1}}">
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{range $key, $val := .fw.Keys.Data1}}
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">{{$key}}</div>
                                            </div>
                                            <input class="form-control field byte-{{keyOffset $key}}" type="text"
                                                data-i="{{keyOffset $key}}" id="key{{$key}}" name="key[{{$key}}]"
                                                maxlength="8" size="8" value="{{printHex $val}}">
                                            <br>
                                        </div>
                                        {{end}}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="isk_hi">ISK High:</label>
                                        <input class="form-control field byte-253" data-i="253" type="text"
                                            maxlength="8" size="8" id="isk_hi" name="isk_hi"
                                            value="{{printHex .fw.Keys.IskHI1}}">
                                        <label for="isk_lo">ISK Low:</label>
                                        <input class="form-control field byte-257" data-i="257" type="text"
                                            maxlength="4" size="4" id="isk_lo" name="isk_lo"
                                            value="{{printHex .fw.Keys.IskLO1}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-6">
                            <label for="psk_hi">PSK High:</label>
                            <input class="form-control field byte-489" data-i="485" maxlength="4" size="4" id="psk_hi"
                                name="psk_hi" value="{{printHex .fw.PSK.High}}">
                            <b>PCF:</b> <i>6732F2C5</i><br>
                        </div>
                        <div class="col-6">
                            <label for="psk_lo">PSK Low:</label>
                            <input class="form-control field byte-485" data-i="485" maxlength="8" size="8" id="psk_lo"
                                name="psk_lo" value="{{printHex .fw.PSK.Low}}">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>Sync</label>
                        {{range $key, $val := .fw.Sync.Data}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{$key}}</div>
                            </div>
                            <input class="form-control field byte-352" type="text" data-i="352" maxlength="8" size="8"
                                id="sync{{$key}}" name="sync[{{$key}}]" value="{{printHex $val}}">
                        </div>
                        {{end}}<br>
                        <label for="sps_count">SPS Counter:</label>
                        <input class="form-control field byte-54" data-i="54" min="0" type="number" id="sps_count"
                            name="sps_count" value="{{.fw.Vin.SpsCount}}"><br>

                        <label>Programming IDs:</label>

                        {{range $key, $val := .fw.ProgrammingID}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{$key}}</div>
                            </div>
                            <input class="form-control field byte-57" data-i="57" id="prog_id_{{$key}}"
                                name="prog_id[{{$key}}]" maxlength="10" size="10" type="text" value="{{$val}}">
                        </div>

                        {{end}}

                    </div>
                </div>
                <div class="col">
                    <b>Part numbers:</b><br>
                    <ul>
                        <li>Serial sticker:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="field byte-461"
                                type="text" data-i="461" maxlength="10" size="11" id="snsticker" name="snsticker"
                                value="{{.fw.SnSticker}}"></li>
                        <li>End model (HW+SW):&nbsp;&nbsp;&nbsp;&nbsp; <input class="field byte-11" type="text"
                                data-i="11" maxlength="8" size="8" id="partno1" name="partno1"
                                value="{{.fw.PartNo1}}"><input class="field byte-15" type="text" data-i="15"
                                maxlength="2" size="2" value="{{.fw.PartNo1Rev}}"></li>
                        <li>Base model (HW+boot):&nbsp; <input class="field byte-21" type="text" data-i="21"
                                maxlength="8" size="8" id="pnbase1" name="pnbase1" value="{{.fw.PnBase1}}"><input
                                class="field byte-25" type="text" data-i="25" maxlength="2" size="2"
                                value="{{.fw.PnBase1Rev}}"></li>
                        <li>Delphi part number:&nbsp;&nbsp;&nbsp; <input class="field byte-472" data-i="472" type="text"
                                maxlength="8" size="8" id="pndelphi" name="pndelphi" value="{{.fw.DelphiPN}}"></li>
                        <li>SAAB part number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="field byte-478" data-i="478"
                                maxlength="8" size="8" type="text" id="partno" name="partno" value="{{.fw.PartNo}}">
                        </li>
                        <li>Configuration Version: <input class="field byte-17" type="text" data-i="17" maxlength="8"
                                size="8" id="conf_ver" name="conf_ver" value="{{.fw.ConfigurationVersion}}"></li>
                    </ul>
                    <b>Factory programming date:</b> <input class="field byte-466" type="date" data-i="466"
                        maxlength="10" size="10" id="fp_date" name="fp_date"
                        value="{{isoDate .fw.ProgrammingFactoryDate}}"><br>
                    <br>
                    <b>Programming history:</b><br>
                    <ul>
                        <li><b>Last programming date:</b> <input class="field byte-2" data-i="2" type="date"
                                id="programming_date" name="programming_date" value="{{isoDate .fw.ProgrammingDate}}">
                        </li>
                        {{if eq .fw.Vin.SpsCount 0}}
                        <li><b>Factory programming only</b></li>
                        {{end}}
                    </ul>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="file_update" id="file_update" value="{{.B64}}">
                        <input type="hidden" name="filename" id="filename" value="{{.filename}}">
                        <input type="submit" value="Update" name="submit"><br><br>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>
        </form>
        <div class="row">
            <div class="col-8">
                <div class="dump_contents" id="dump_contents" name="dump_contents">
                    {{.Hexview}}
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col">
                <br><b>Boot read order</b> {{bootOrder}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
                <form action="save" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="filename" id="filename" value="{{.filename}}">
                    <input type="hidden" name="file" id="file" value="{{.B64}}">
                    <input type="submit" value="Save" name="submit"> ( Don't forget to press update before saving 💖 )
                </form>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    {{template "scripts.tmpl" .}}
</body>

</html>