<!DOCTYPE html>
<html lang="en">

<head>
    <title>CIM Dump Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "hexstyle.tmpl"}}

</head>

<body>
    
    <div class="container content">
        <div class="row">
            <div class="col">
            <h1>CIM Dump Editor</h1>
                <h6>{{.filename}}&nbsp;<a href="/"><button>Back</button></a></h6>
                MD5: <b>{{.fw.MD5}}</b> CRC32: <b>{{.fw.CRC32}}</b>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                        <form>
                        Vin:&nbsp;<input type="text" value="{{.fw.Vin.Data}}"><br>
                        Model Year: <b>{{.fw.ModelYear}}</b><br><br>
                        Pin:&nbsp;<input type="text" value="{{print .fw.Pin.Pin1}}"><br>
                        Steering Angle Sensor:&nbsp;<b>{{.fw.SasOpt}}</b><br><br>
                        Programmed keys:&nbsp;<b>{{.fw.Keys.KeysKeysCount1}}</b><br>
                        {{range $key, $val := .fw.Keys.Keys1}}
                        <b>{{$key}}</b> <input type="text" value="{{printHex $val}}"><br>
                        {{end}}<br>
                        <b>Programming history:</b><br>
                        <ul>
                        <li>Last programming date: <b>{{isoDate .fw.ProgrammingDate}}</b></li>
                        {{if eq .fw.Vin.SpsCount 0}}
                            <li><b>Factory programming only</b></li>
                        {{else}}
                            <li>SPS Counter: <b>{{.fw.Vin.SpsCount}}</b></li>
                            <ul>
                            {{range $val := .fw.ProgrammingID}}
                                <li>{{$val}}</li>
                            {{end}}
                            </ul>
                        {{end}}
                        </ul>
            </div>
            <div class="col">
                        <b>Remotes:</b><br>
                        ISK High:&nbsp;<input type="text" value="{{printHex .fw.Keys.IskHI1}}"><br>
                        ISK Low:&nbsp;<input type="text" value="{{printHex .fw.Keys.IskLO1}}"><br>
                        PCF:&nbsp;<b>6732F2C5</b><br><br>
                        <b>Sync:</b><br>
                        {{range $val := .fw.Sync.Data}}
                        <input type="text" value="{{printHex $val}}">
                        {{end}}<br>
                        <br>
                        Serial sticker: <b>{{.fw.SnSticker}}</b><br>
                        Factory programming date: <b>{{isoDate .fw.ProgrammingFactoryDate}}</b><br>
                        <br>
                        <b>Part numbers:</b><br>
                        <ul>
                        <li>End model (HW+SW): <b>{{.fw.PartNo1}}{{.fw.PartNo1Suffix}}</b></li>
	                    <li>Base model (HW+boot): <b>{{.fw.PnBase1}}{{.fw.PnBase1Suffix}}</b></li>
	                    <li>Delphi part number: <b>{{.fw.DelphiPN}}</b></li>
	                    <li>SAAB part number: <b>{{.fw.PartNo}}</b></li>
	                    <li>Configuration Version: <b>{{.fw.ConfigurationVersion}}</b></li>
                        </ul>
                    </form>               
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#"><button>Update</button></a></button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="dump_contents">
                    {{.Hexview}}
                    <form action="/save" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="filename" id="filename" value="{{.filename}}">
                        <input type="hidden" name="file" id="file" value="{{.B64}}">
                        <input type="submit" value="Save" name="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="application/javascript">
        $('.hexByte, .asciiByte').hover(function () {
            var i = $(this).data('i');
            var section = $(this).data('section');
            if (section) {
                $('.section-' + section.id).toggleClass('hoverSection', true);
            } else {
                $('.byte-' + i).toggleClass('hover', true);
            }
        }, function () {
            var i = $(this).data('i');
            var section = $(this).data('section');
            if (section) {
                $('.section-' + section.id).toggleClass('hoverSection', false);
            } else {
                $('.byte-' + i).toggleClass('hover', false);
            }
        });

        {{template "sections.tmpl"}}

        for (let i = 0; i < sections.length; i++) {
            let section = sections[i];
            section.title = section.id;
            if (section.type) {
                section.title += ` (${section.type})`;
            }
            if (section.confirmed) {
                section.title += ' [Confirmed]';
            }
            for (let byte = 0; byte < section.length; byte++) {
                $bytes = $('.byte-' + (section.start + byte));
                if (section.confirmed) {
                    $bytes.addClass('confirmed');
                }
                $bytes.addClass('section').addClass('section-' + section.id).data('section', section);
                if (section.checksum) {
                    $bytes.addClass('checksum');
                }

                $bytes.attr('title', section.title);
                $bytes.map(function (byte) {
                    let el = $bytes[byte],
                        $el = $(el),
                        title = $el.attr('title');

                    title = '0x' + (1 * $el.data('i')).toString(16) + ': ' + title;
                    $($bytes[byte]).attr('title', title);
                    var tooltip = new bootstrap.Tooltip($bytes[byte]);
                });
            }
        }
    </script>
</body>

</html>