<!DOCTYPE html>
<html lang="en">

<head>
    <title>CIM Dump Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{template "hexstyle.tmpl"}}

</head>

<body>
    
    <div class="container content">
        <div class="row">
            <div class="col">
            <h1>CIM Dump Editor</h1>
                <h6>{{.filename}}&nbsp;<a href="/"><button>Back</button></a></h6>
                MD5: <b>{{.fw.MD5}}</b> CRC32: <b>{{.fw.CRC32}}</b>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                        <form>
                        <b>Vin:</b> <input class="field byte-24 section-VIN" type="text" value="{{.fw.Vin.Data}}"><br>
                        <b>Model Year:</b> {{.fw.ModelYear}}<br><br>
                        <b>Pin:</b> <input class="field byte-175 section-PIN" type="text" value="{{printHex .fw.Pin.Pin1}}"><br>
                        <b>Steering Angle Sensor:</b> <input class="field byte-4 section-SAS_OPTION" type="checkbox" id="sas_opt" name="sas_opt" {{boolChecked .fw.SasOpt}}><br><br>
                        <b>Programmed keys:</b> <span class="field byte-279 section-KEYS_COUNT">{{.fw.Keys.KeysKeysCount1}}</b></span><br>
                        {{range $key, $val := .fw.Keys.Keys1}}
                        <b>{{$key}}</b> <input class="field byte-259 section-KEYS" type="text" value="{{printHex $val}}"><br>
                        {{end}}<br>
                        <b>Programming history:</b><br>
                        <ul>
                        <li><b>Last programming date:</b> <span class="field byte-2 section-PROGRAMMING_DATE">{{isoDate .fw.ProgrammingDate}}</span></li>
                        {{if eq .fw.Vin.SpsCount 0}}
                            <li><b>Factory programming only</b></li>
                        {{else}}
                            <li><b>SPS Counter:</b> <span class="field byte-54 section-SPS_COUNT">{{.fw.Vin.SpsCount}}</span></li>
                            <ol>
                            {{range $val := .fw.ProgrammingID}}
                                <li><span class="field byte-57 section-PROGRAMMING_ID">{{$val}}</span></li>
                            {{end}}
                            </ol>
                        {{end}}
                        </ul>
            </div>
            <div class="col">
                        <b>Remotes:</b><br>
                        <b>ISK High:</b> <input class="field byte-253 section-ISK_HI" type="text" value="{{printHex .fw.Keys.IskHI1}}"><br>
                        <b>ISK Low:</b>&nbsp; <input class="field byte-257 section-ISK_LO" type="text" value="{{printHex .fw.Keys.IskLO1}}"><br>
                        <b>PCF:</b> <i>6732F2C5</i><br><br>
                        <b>Sync:</b><br>
                        {{range $val := .fw.Sync.Data}}
                        <input class="field byte-352 section-REMOTE_SYNC" type="text" value="{{printHex $val}}">
                        {{end}}<br>
                        <br>
                        <b>Serial sticker:</b> <span class="field byte-461 section-SN_STICKER">{{.fw.SnSticker}}</span><p>
                        <b>Factory programming date:</b> <span class="field byte-466 section-PROGRAMMING_FACTORY_DATE">{{isoDate .fw.ProgrammingFactoryDate}}</span></p>
                        <br>
                        <b>Part numbers:</b><br>
                        <ul>
                        <li>End model (HW+SW):&nbsp;&nbsp;&nbsp;&nbsp; <input class="field byte-11 section-PN_SAAB1" value="{{.fw.PartNo1}}{{.fw.PartNo1Suffix}}"></li>
	                    <li>Base model (HW+boot):&nbsp; <input class="field byte-21 section-PN_BASE1" value="{{.fw.PnBase1}}{{.fw.PnBase1Suffix}}"></li>
	                    <li>Delphi part number:&nbsp;&nbsp;&nbsp; <input class="field byte-472 section-PN_DELPHI" value="{{.fw.DelphiPN}}"></li>
	                    <li>SAAB part number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="field byte-478 section-PN_SAAB2" value="{{.fw.PartNo}}"></li>
	                    <li>Configuration Version: <input class="field byte-17 section-CONFIGURATION_VERSION" value="{{.fw.ConfigurationVersion}}"></li>
                        </ul>
                    </form>               
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#"><button>Update</button></a></button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="dump_contents">
                    {{.Hexview}}
                    <form action="/save" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="filename" id="filename" value="{{.filename}}">
                        <input type="hidden" name="file" id="file" value="{{.B64}}">
                        <input type="submit" value="Save" name="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="application/javascript">
        $('.hexByte, .asciiByte, .field').hover(function () {
            var i = $(this).data('i');
            var section = $(this).data('section');
            if (section) {
                $('.section-' + section.id).toggleClass('hoverSection', true);
            } else {
                $('.byte-' + i).toggleClass('hover', true);
            }
        }, function () {
            var i = $(this).data('i');
            var section = $(this).data('section');
            if (section) {
                $('.section-' + section.id).toggleClass('hoverSection', false);
            } else {
                $('.byte-' + i).toggleClass('hover', false);
            }
        });

        {{template "sections.tmpl"}}

        for (let i = 0; i < sections.length; i++) {
            let section = sections[i];
            section.title = section.id;
            if (section.type) {
                section.title += ` (${section.type})`;
            }
            if (section.confirmed) {
                section.title += ' [Confirmed]';
            }
            for (let byte = 0; byte < section.length; byte++) {
                $bytes = $('.byte-' + (section.start + byte));
                //if (section.confirmed) {
                //    $bytes.addClass('confirmed');
                //}
                $bytes.addClass('section').addClass('section-' + section.id).data('section', section);
                if (section.checksum) {
                    $bytes.addClass('checksum');
                }

                $bytes.attr('title', section.title);
                $bytes.map(function (byte) {
                    let el = $bytes[byte],
                        $el = $(el),
                        title = $el.attr('title');

                    title = '0x' + (1 * $el.data('i')).toString(16) + ': ' + title;
                    $($bytes[byte]).attr('title', title);
                    var tooltip = new bootstrap.Tooltip($bytes[byte]);
                });
            }
        }
    </script>
</body>

</html>